* {
    padding: 0;
    margin: 0;
}

#header {
    margin-top: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title {
    border-bottom: 1px solid #d5d5d5;
    width: 500px;
    height: 45.5px;
}

#wordle {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #1a1a1b;
    text-align: center;
    font-size: 36px;
    letter-spacing: 3.2px;
    padding-bottom: 3px;
}

#canvas {
    display: block;
    margin: auto;
    margin-top: 79px;
    width: 500px;
    height: 670px;
}
